<link rel="stylesheet" type="text/css" href= {{ url_for("static",filename="mystyle.css") }} >
{% block header %}
  <h1>{% block title %}A Simple Message Bank{% endblock %}</h1>
{% endblock %}

{% block content %}
    <li><a href="/submit"> Submit a message</a></li>
    <li><a href="/view"> View messages</a></li>

  <i>Submit</i>

  <form method="post">
      <label for="message">Your message:</label>
      <br>
      <input name="message" id="message">
      <br>
      <label for="handle">Your name or handle:</label>
      <br>
      <input name="handle" id="handle">
      <br>
      <input type="submit" value="Submit message">
  </form>

{% endblock %}